.button1:hover{
	background-color: skyblue;
    color: white;
}
.button1:active{
	border-color: violet;
	box-shadow: 0 5px;
}
.button1 {

    margin-left: 500px;
    margin-top: 50px;
    border-style: outset;
    background:rgb(204, 2, 204);
    color: white;
    padding: 10px;
    text-align: auto;
    display: inline-block;
    font-size:10px;
    border-radius:12px;
    cursor: pointer;
    padding-bottom: auto;
    
}
    body{
        background:white;
        background-size: cover; 
    }
    text.div{
        text-align: center;
    }
    h1{
        text-align: center;
        margin-top: 50px;

        
    }